/emacs/.emacs.d/elpa/
/emacs/.emacs.d/auto-save-list/
/emacs/.emacs.d/backups/
/emacs/.emacs.d/config.el
/emacs/.emacs.d/ido.last
/emacs/.emacs.d/places
/emacs/.emacs.d/transient/
/emacs/.emacs.d/work.el
